<div id="drum-machine">
  <div #myAudio id="Q" class="drum-pad">
    Q<audio src="" class="clip">
      <source
        src="https://s3.amazonaws.com/freecodecamp/drums/Heater-1.mp3"
        type="audio/mp3"
      />
    </audio>
  </div>
  <div id="W" #w class="drum-pad">
    W<audio src="" class="clip">
      <source
        src="https://s3.amazonaws.com/freecodecamp/drums/Heater-1.mp3"
        type="audio/mp3"
      />
    </audio>
  </div>
  <div id="E" #e class="drum-pad">
    E<audio src="" class="clip">
      <source
        src="https://s3.amazonaws.com/freecodecamp/drums/Heater-1.mp3"
        type="audio/mp3"
      />
    </audio>
  </div>
  <div id="A" #a class="drum-pad">
    A<audio src="" class="clip">
      <source
        src="https://s3.amazonaws.com/freecodecamp/drums/Heater-1.mp3"
        type="audio/mp3"
      />
    </audio>
  </div>
  <div id="S" #s class="drum-pad">
    S<audio src="" class="clip">
      <source
        src="https://s3.amazonaws.com/freecodecamp/drums/Heater-1.mp3"
        type="audio/mp3"
      />
    </audio>
  </div>
  <div id="D" #d class="drum-pad">
    D<audio src="" class="clip">
      <source
        src="https://s3.amazonaws.com/freecodecamp/drums/Heater-1.mp3"
        type="audio/mp3"
      />
    </audio>
  </div>
  <div id="Z" #z class="drum-pad">
    Z<audio src="" class="clip">
      <source
        src="https://s3.amazonaws.com/freecodecamp/drums/Heater-1.mp3"
        type="audio/mp3"
      />
    </audio>
  </div>
  <div id="X" #x class="drum-pad">
    X<audio src="" class="clip">
      <source
        src="https://s3.amazonaws.com/freecodecamp/drums/Heater-1.mp3"
        type="audio/mp3"
      />
    </audio>
  </div>
  <div id="C" #c class="drum-pad">
    C<audio src="" class="clip">
      <source
        src="https://s3.amazonaws.com/freecodecamp/drums/Heater-1.mp3"
        type="audio/mp3"
      />
    </audio>
  </div>
  <div id="display"></div>
</div>
