@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

@mixin drumpad($color) {
  background-color: rgba($color, 1);

  &:active {
    background-color: rgba($color, 0.8);
    top: 1px;
    left: 1px;
  }
}

h1 {
  font-family: "Permanent Marker", cursive;
  text-align: center;
  font-size: 3em;
  padding: 0;
  margin: 20px 0;
  color: whitesmoke;
}

#drum-machine {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 660px;
  margin: 0 auto;
  vertical-align: middle;
  line-height: 100%;
  font-family: "Questrial", sans-serif;
  font-size: 2em;

  .drum-pad {
    width: 180px;
    height: 180px;
    background-color: black;
    margin: 10px;
    color: black;
    padding: 10px;
    border-radius: 1.5px;
    -webkit-box-shadow: inset 0px 0px 15px black;
    -moz-box-shadow: inset 0px 0px 15x black;
    box-shadow: inset 0px 0px 15px black;
    position: relative;
  }

  #Q-sounds {
    @include drumpad(rgb(255, 101, 0));
  }

  #W-sounds {
    @include drumpad(rgb(255, 123, 0));
  }

  #E-sounds {
    @include drumpad(rgb(255, 144, 0));
  }

  #A-sounds {
    @include drumpad(rgb(255, 165, 0));
  }

  #S-sounds {
    @include drumpad(purple);
  }

  #D-sounds {
    @include drumpad(rgb(0, 255, 101));
  }

  #C-sounds {
    @include drumpad(rgb(0, 255, 229));
  }

  #Z-sounds {
    @include drumpad(rgb(255, 0, 26));
  }

  #X-sounds {
    @include drumpad(rgb(255, 38, 0));
  }
}

#volume {
  width: 640px;
  height: 50px;
  background-color: yellow;
  margin: 0 auto;
}

#display {
  text-align: center;
  width: 640px;
  height: 50px;
  margin: 0 auto;
  background-color: rgb(128, 0, 0, 0.3);
  color: white;
  font-family: "Questrial", sans-serif;
  font-size: 2em;
  padding: 10px 0;
  margin-bottom: 20px;
  -webkit-box-shadow: inset 0px 0px 15px black;
  -moz-box-shadow: inset 0px 0px 15x black;
  box-shadow: inset 0px 0px 15px black;

  h2 {
    margin: 0;
    padding: 0;
  }
}
